<style>
 body{
      text-align: center;
      background-color: #63a6c5;
      font-size: 20pt;
      background-position: center;
}
form{
    background-color: #e4e7e9;
    background-position: center;
    background-repeat:no-repeat;
    font-size:10pt;
}
h2,h3{
    font-size: 13pt;
    color: black;
}
input[type=text]
{font-size: 10pt;}
</style>
